<div class="bookmarks-wrapper">
    
    <div class="container">
        <div class="bookmarks-tile-container">
        <div class="bookmarks-tile">
          <a target="_blank" href="http://google.com"><img class="bookmarks-img" src="http://google.com/favicon.ico" alt=""></a> 
            <p>Google</p>
        </div>
        <div class="bookmarks-tile">
           <a target="_blank" href="http://Wikipedia.org"><img class="bookmarks-img" src="http://wikipedia.org/favicon.ico" alt=""></a>
            <p>Wikipedia</p>
        </div>
        <div class="bookmarks-tile">
           <a target="_blank" href="http://youtube.com"> <img class="bookmarks-img" src="http://youtube.com/favicon.ico" alt=""></a>
            <p>tubemate</p>
        </div>
        <div class="bookmarks-tile">
            <a target="_blank" href="http://bing.com"><img class="bookmarks-img" src="http://bing.com/favicon.ico" alt=""></a>
            <p>bing</p>
        </div>
    </div>
    </div>
</div>


