.todos-item{
    display: flex;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px 12px;
     align-items: center;
    background-color: #E57C23;
    cursor: pointer;
    
}
p{
    display:inline-block ;
    color: rgb(255, 255, 255);
}
.check-box{
    background: rgb(9,218,89);
    display: flex;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.todos-item:hover{
    border-color: purple;
    background-color: dimgrey;
    color: #AEE2FF;
}
.todo-item-action{
    margin-left: auto;
}
i{
    font-size: 18px;
}
